<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-toolbar flat>
                        <v-spacer></v-spacer>
                        <v-btn depressed color="white" href="/">Videos</v-btn>
                        <v-btn depressed color="white" href="/channels">Channels</v-btn>
                        <v-form method="POST" action="/search-channels">
                            {% csrf_token %}
                            <v-text-field
                                class="mx-3"
                                name="searched"
                                style="width:200px"
                                hide-details
                                label="Search for channels"
                                prepend-icon="mdi-magnify"
                                single-line
                            >
                            </v-text-field>
                        </v-form>
                    </v-toolbar>
                    <v-container>
                        <Channels></Channels>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <template id="channel-card-template">
            <div>
                <v-card class="rounded-xl" height="280px" elevation="2" :href="'../../channel/' + id">
                    <v-img max-height="180px" :src="profilepic"></v-img>
                    <v-card-title class="col-11 text-truncate">[[ name ]]</v-card-title>
                    <v-card-text v-if="subscribercount != ''"> 
                        [[ subscribercount ]] subscribers 
                    </v-card-text>
                </v-card>
            </div>
        </template>

        <template id="channels-template">
            <div>
                <div>
                    <h1>Trending Channels</h1>
                    <v-row class="my-5">
                        {% for channel in channels %}
                        <v-col cols="6" sm="4" md="2">
                            <channel-card
                                id="{{ channel.id }}"
                                profilepic="{{ channel.profilePic }}"
                                name="{{ channel.name }}"
                                subscribercount="{{ channel.subscriberCount }}"
                            ></channel-card>
                        </v-col>
                        {% endfor %}
                    </v-row>
                </div>
                <v-row>
                    <v-col cols="12" md="10">
                        <v-pagination
                            v-model="page"
                            :length="{{ maxLength }}"
                            :total-visible="14"
                            @input="paginate"
                        ></v-pagination>
                    </v-col>
                    <v-col cols="6" md="2">
                        <v-input>
                            <v-text-field
                                v-model="pageField"
                                label="Jump to"
                                outlined
                                dense
                                type="number"
                                @keyup.enter="paginateFromField"
                            ></v-text-field>
                        </v-input>
                    </v-col>
                </v-row>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.5/dist/vuetify.js"></script>
        <script>
            const ChannelCard = Vue.component('channel-card', {
                template: '#channel-card-template',
                delimiters: ['[[', ']]'],
                props: ['id', 'profilepic', 'name', 'subscribercount'],
            })

            const Channels = Vue.component('channels', {
                components: {ChannelCard},
                template: '#channels-template',
                data() {
                    return {
                        page: Number.parseInt("{{ page }}"),
                        pageField: Number.parseInt("{{ page }}"),
                    }
                },
                methods: {
                    paginate() {
                        window.location.href = '/channel/page/' + this.page
                    },
                    paginateFromField() {
                        if (this.pageField <= Number.parseInt("{{ maxLength }}")) {
                            window.location.href = '/channel/page/' + this.pageField
                        } else {
                            window.alert("There are only {{ maxLength }} pages!")
                        }
                    }
                }
            })

            const app = new Vue({
                vuetify: new Vuetify(),
            }).$mount('#app');
        </script>
    </body>
</html>