{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <router-view></router-view>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <template id="video-card-template">
            <div>
                <v-row>
                    <v-col cols="4">
                        <v-card height="300px" elevation="2">
                            <v-img height="200px" src="https://i.ytimg.com/vi/ZzHVOjk3sjY/maxresdefault.jpg"></v-img>
                            <v-card-title>[[ title ]]</v-card-title>
                            <v-card-subtitle></v-card-subtitle>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </template>

        <template id="home-template">
            <div>
                <h1>Home Page</h1>
                <video-card></video-card>
            </div>
        </template>

        <template id="channels-template">
            <div>
                <h1>Channels Page</h1>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
        <script src="https://unpkg.com/vuex@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="{% static 'index.js' %}" type="module"></script>
    </body>
</html>