<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-toolbar flat>
                        <v-toolbar-title>
                            DIY TUBE
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn depressed color="white" href="/">Videos</v-btn>
                        <v-btn depressed color="white" href="/channels">Channels</v-btn>
                        <v-form method="POST" action="/search-videos">
                            {% csrf_token %}
                            <v-text-field
                                class="mx-3"
                                name="searched"
                                style="width:200px"
                                hide-details
                                label="Search for videos"
                                prepend-icon="mdi-magnify"
                                single-line
                            >
                            </v-text-field>
                        </v-form>
                    </v-toolbar>
                    <v-container>
                        <Home page={{ page }}></Home>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <template id="video-card-template">
            <div>
                <v-card class="rounded-xl" height="300px" elevation="2" :href="'../../video/' + id">
                    <v-img height="200px" :src="thumbnail"></v-img>
                    <v-card-title class="col-11 text-truncate">[[ title ]]</v-card-title>
                    <v-card-text> <v-icon> mdi-calendar </v-icon> [[ date ]] </v-card-text>
                </v-card>
            </div>
        </template>

        <template id="home-template">
            <div>
                <h1>Trending Videos</h1>
                <div class="my-5">
                    <v-row>
                        {% for video in videos %}
                        <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                            <video-card
                                id="{{ video.id|safe }}"
                                thumbnail="{{ video.videoThumbnail|safe }}"
                                title="{{ video.title }}"
                                date="{{ video.datePublished|date }}"
                            ></video-card>
                        </v-col>
                        {% endfor %}
                    </v-row>
                </div>
                <v-row>
                    <v-col cols="12" md="10">
                        <v-pagination
                            v-model="page"
                            :length="{{ maxLength }}"
                            :total-visible="14"
                            @input="paginate"
                        ></v-pagination>
                    </v-col>
                    <v-col cols="12" md="2">
                        <v-input>
                            <v-text-field
                                v-model="pageField"
                                label="Jump to"
                                outlined
                                dense
                                type="number"
                                @keyup.enter="paginateFromField"
                            ></v-text-field>
                        </v-input>
                    </v-col>
                </v-row>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.5/dist/vuetify.js"></script>
        <script>
            const VideoCard = Vue.component('video-card', {
                template: '#video-card-template',
                delimiters: ['[[', ']]'],
                props: ['id', 'thumbnail', 'title', 'date'],
            })
            const Home = Vue.component('home', {
                components: {VideoCard},
                template: '#home-template',
                data() {
                    return {
                        page: Number.parseInt("{{ page }}"),
                        pageField: Number.parseInt("{{ page }}"),
                    }
                },
                methods: {
                    paginate() {
                        window.location.href = '/page/' + this.page
                    },
                    paginateFromField() {
                        if (this.pageField <= Number.parseInt("{{ maxLength }}")) {
                            window.location.href = '/page/' + this.pageField
                        } else {
                            window.alert("There are only {{ maxLength }} pages!")
                        }
                    }
                }
            })

            const app = new Vue({
                vuetify: new Vuetify(),
            }).$mount('#app');
        </script>
    </body>
</html>