{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <toolbar>
                        <span slot="token">{% csrf_token %}</span>
                    </toolbar>
                    <v-container>
                        <videos></videos>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <template id="videos-template">
            <div>
                <h1>Trending Videos</h1>
                <div class="my-5">
                    <v-row>
                        {% for video in videos %}
                        <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                            <video-card
                                id="{{ video.id|safe }}"
                                thumbnail="{{ video.videoThumbnail|safe }}"
                                title="{{ video.title }}"
                                date="{{ video.datePublished|date }}"
                            ></video-card>
                        </v-col>
                        {% endfor %}
                    </v-row>
                </div>
                <div>
                    <v-row>
                        <v-col cols="12" md="10">
                            <v-pagination
                                v-model="page"
                                :length="{{ maxLength }}"
                                :total-visible="14"
                                @input="paginate"
                            ></v-pagination>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-input>
                                <v-text-field
                                    v-model="pageField"
                                    label="Jump to"
                                    outlined
                                    dense
                                    type="number"
                                    @keyup.enter="paginateFromField"
                                ></v-text-field>
                            </v-input>
                        </v-col>
                    </v-row>
                </div>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.5/dist/vuetify.js"></script>
        <script src="{% static 'components.js' %}"></script>
        <script>
            const Videos = Vue.component('videos', {
                components: {VideoCard},
                template: '#videos-template',
                data() {
                    return {
                        page: Number.parseInt("{{ page }}"),
                        pageField: Number.parseInt("{{ page }}"),
                    }
                },
                methods: {
                    paginate() {
                        window.location.href = '/page/' + this.page
                    },
                    paginateFromField() {
                        if (this.pageField <= Number.parseInt("{{ maxLength }}")) {
                            window.location.href = '/page/' + this.pageField
                        } else {
                            window.alert("There are only {{ maxLength }} pages!")
                        }
                    }
                }
            })

            const app = new Vue({
                vuetify: new Vuetify(theme),
                created() {
                    this.$vuetify.theme.primary = '#8bc34a'
                }
            }).$mount('#app');
        </script>
    </body>
</html>